<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Add New Wolf</title>
  </head>
  <body>
    <h1>Add a new wolf</h1>
    <form action='/wolves' method='POST'>
      <label for='name'>Name: </label>
      <input type='text' id='name' name='name'>
      <label for='age'>Age: </label>
      <input type='text' id='age' name='age'>
      <label for='status'>Status: </label>
      <input type='text' id='status' name='status'>
      <input type='submit' value='Add Wolf'>
    </form>
  </body>
</html>
