<form>
  <label for='firstName'>First Name <input type='text' id='firstName' ng-model='friend.firstName' disabled></label>
  <label for='lastName'>Last Name <input type='text' id='lastName' ng-model='friend.lastName' disabled></label>
  <label for='birthday'>Birthday <input type='date' id='birthday' ng-model="friend.birthday" disabled></label>
  <label for='createdAt'>User Added <input type='date' id='birthday' ng-model="friend.createdAt" disabled></label>
  <a ng-href='#/'><button>Back</button></a>
</form>
