<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Edit this wolf</title>
  </head>
  <body>
    <h1>Edit dis wolf</h1>
    <form action='/wolves/<%= wolf._id %>' method='POST'>
      <label for='name'>Name: </label>
      <input type='text' id='name' name='name' value='<%= wolf.name %>'>
      <label for='age'>Age: </label>
      <input type='text' id='age' name='age' value='<%= wolf.age %>'>
      <label for='status'>Status: </label>
      <input type='text' id='status' name='status' value='<%= wolf.status %>'>
      <input type='submit' value='Update'>
    </form>
  </body>
</html>
