<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Show Wolf</title>
  </head>
  <body>
    <h1>O snap! it's dat wolf</h1>
    <p><strong>Wolfen name:</strong> <%= wolf.name %></p>
    <p><strong>Wolfen age:</strong> <%= wolf.age %></p>
    <p><strong>Pack status:</strong> <%= wolf.status %></p>
    <a href='/wolves/<%= wolf._id %>/edit'>Edit</a>
    <a href='/'>Back</a>
  </body>
</html>
