<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1>Welcome to QuotingDojo</h1>
    <form action='/quotes' method='POST'>
      <label for='name'>Your Name: </label>
      <input type='text' id='name' name='name'>
      <label for='quote'>Your Quote: </label>
      <textarea id='quote' name='quote'></textarea>
      <input type='submit' value='Add my quote!'>
    </form>
    <a href='/quotes'>Skip to quotes!</a>
  </body>
</html>
